/*CSS Reset*/

:root {
    /* Colors to be used in the whole proyect */
    --bg-color: #222631;
    --link-color: #edf2f4;
    --bg-menu-color: #101119;
}

body {
    width: 100vw;
    background-color: var(--bg-color);
    font-family: 'Montserrat';
    color: var(--link-color);
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

.everything{
    padding: 10vw 5vw;
}

/* In this challenge, we would like you to try using the BEM methodology.

What is BEM?

BEM (Block, Element, Modifier) is a component-based approach to web development. 
The idea behind it is to divide the user interface into independent blocks. This 
makes interface development easy and fast, even with a complex user interface, and 
allows for the reuse of existing code without copying and pasting.

Link to the official documentation!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu {
    background-color: var(--bg-menu-color) !important;
    bottom: 0%;
    height: 10%;
    width: 100%;

    /* Responsive attributes */

    display: flex;
    /* Makes the div a flexible one */
    justify-content: space-between;
    /* Makes objects have an equal amount of space between them */
    align-items: center;
    /* Makes all items inside a div to be aligned vertically in the center */
    position: fixed;
    /* Makes the div keep its position throughout the whole app */
    top: 0;
    /* Places the position of the fixed item to the top */

    .menu__header {
        width: 30%;
        display: flex;
        justify-content: space-between;
    }

    #logo-maxkeenti {
        width: 20%;
        display: flex;
        height: 4rem;
        width: 4rem;
        cursor: pointer;
    }

    .menu__title {
        width: 80%;
        display: flex;
        align-items: center;
    }

    .header_container {
        width: 70%;
        display: flex;
        flex-grow: 1;
    }

    .menu__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-grow: 1;
    }
}

/*Sección Title*/

section.title {
    .title__div {
        display: flex;
        width: 100%;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .title__container {
        font-size: 16px;
        font-weight: 700;
        display: flex;
        align-items: center;
    }

    .title__network {
        display: flex;
        list-style: none;
        gap: 10px;
    }

    .title__profile {
        flex: 1;
        display: flex;
        border-radius: 50%;
        width: 10%;
        height: 10%;
    }
}

/*Sección About*/

section.about {}

/*Sección Hobbies*/

section.hobbies {}

/* Experiencia Académica*/

section.academic {}

/* experiencia*/

section.experience {}

/*Contacto*/

section.formcontato {}

/*footeer*/

section.footer {}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

    /* Menú */

    /*title*/

    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

    /*Menu*/

    /*Titulo*/

    /*Sección sobre mi*/

    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/

    /*Contacto*/

    /*Footer*/

}